@font-face {
    font-family: Ubuntu;
    src: url(./ubuntu-font-family-0.83/ubuntu-font-family-0.83/Ubuntu-L.ttf);
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    font-family: Ubuntu;
}

h3{
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5em;
}

#hero{
    width: 50vw;
}

#form{
    border-left: 2px solid black;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

fieldset>span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

fieldset>span>p{
    display: flex;
    flex-direction: column;;
}

fieldset p>label{
    font-size: 15px;
}

input{
    width: 300px;
    height: 30px;
}