@font-face {
    font-family: Ubuntu;
    src: url(./ubuntu-font-family-0.83/ubuntu-font-family-0.83/Ubuntu-L.ttf);
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    font-family: Ubuntu;
}

#hero{
    width: 40vw;
}

#form{
    border-left: 2px solid black;
    padding: 30px;
}

fieldset>span{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

fieldset>span>p{
    width: 250px;
    display: flex;
    flex-direction: column;
}

fieldset p>label{
    font-size: 15px;
}